{
  "extends": "airbnb-base",
  "plugins": [
    "react-hooks"
  ],
  "rules": {
    "no-underscore-dangle": ["error", { "allow": ["_id"] }],
    "no-unused-vars": "off",
    "func-names": 0,
    "object-shorthand":"off",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn"
  }
}
